/* @import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Sixtyfour+Convergence&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* .ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  } */
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;

}

li {
    list-style: none;

}

.container {
    width: 1100px;
    margin: 0 auto;
}

section {
    /* font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0; */
      font-family: "Ubuntu", sans-serif;
      font-weight: 400;
      font-style: normal;
    padding: 5rem; /* 1rem = 16px */

}

section:nth-child(2n) {
    background-color: #f8f8f8;
}

section .title {
    margin-bottom: 3rem;
}

section .title h4 {
    font-size: 20px;
    padding-bottom: 10px;
    color: #48ed8f;
    position: relative;
}

section .title h2 {
    font-size: 3.5rem;
}

section .title p {
    font-size: 1.15rem;
}

header {
    position: fixed;
    color: white;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 1rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 10px;
}

header button {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: white;
}

header h1 button {
    font-size: 2rem;
    font-weight: bold;
}

header nav ul li button {
    font-size: 1.3rem;
}

/* END HEADER */

/* MAIN */

main {
    width: 100%;
    height: 100vh;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/54133933473_4fe7a9fd4e_o.jpg') center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h4 {
    /* font-size: 3.5rem;
    margin: 2rem 0;
    letter-spacing: 3px;
    font-family: "Black Han Sans", sans-serif; */
    font-size: 2rem;
}

main p {
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 400;
}

main button.icon {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    animation: updown 1s ease-in-out infinite;
    cursor: pointer;
}

@keyframes updown {
    0% {
        bottom: 1rem;
    }
    50% {
        bottom: 1.5rem;
    }
    100% {
        bottom: 1rem;
    }
}

main h2 span::after {
    content: "";
    height: 40px;
    width: 3px;
    background-color: #fff;
    display: inline-block;
    animation: blink .7s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* about_me */
section .about_me::after{
    content:"";
    clear:both;
    display:block;
  }
  section .about_me .left{
    width:50%;
    float:left;
  }
  section .about_me .left img{
    max-width:100%;
  }
  section .about_me .right{
    width:50%;
    float:left;
    padding:0 2rem;
  }
  section .about_me .right h3{
    font-size:2.25rem;
    margin-bottom:1rem;
  }
  section .about_me .right h3 strong{
    color:#48ed8f;
  }
  section .about_me .right p{
    font-size:1.15rem;
    margin:1rem 0;
    font-weight: 400;
  }
  section .about_me .right .social_icon a{
    font-size:2.5rem;
    margin-right:0.2rem;
  }
  section .about_me .right .social_icon a:hover{
    color:#48ed8f;
  }

  
/* strength */
section .strength {
    background-color: #f1f1f1;
}

section .strength_wrap::after {
    content: "";
    display: block;
    clear: both;    
}

section .strength_wrap .strength_inner {
    background-color: #ffffff;
    width: 30%;
    padding: 2rem;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

section .strength_wrap .strength_inner:last-child {
    margin-right: 0;
}

section .strength_wrap .strength_inner .content h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

section .strength_wrap .strength_inner .content .icon i {
    font-size: 2.5rem;
    color: #48ed8f;
}

section .strength_wrap .strength_inner .content p {
    font-size: 1rem;
    font-weight: 400;
}

section .strength_wrap .strength_inner:hover {
    background-color: #48ed8f;
    color: #fff;
}

section .strength_wrap .strength_inner:hover i{
    color: #fff;
}


/* back_bg */
.back_bg {
    background: url("../img/back_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 670px;
}

/* port.css */


section.portfolio::after{
    content:"";
    display:block;
    clear:both;
  }
  
  section.portfolio .portfolio_inner{
    width:30%;
    margin-right:5%;
    padding:1rem 1rem 1.5rem 1rem;
    float:left;
    background-color:#f8f8f8;
    border:1px solid #ccc;
    margin-bottom:3rem;
  }
  
  section.portfolio .portfolio_inner:nth-child(3n){
     margin-right:0;
  }
  
  section.portfolio .portfolio_inner img{
    width:100%;
    display:block;
  }
  
  section.portfolio .portfolio_inner strong{
    color:#48ed8f;
    margin:0.5rem 0;
    display:block;
  }
  
  section.portfolio .portfolio_inner h3{
    font-size:1.75rem;
  }

  
/* contact.css */
section.contact .contact_me::after{
    content:"";
    display:block;
    clear:both;
  }
  section.contact .contact_me .left{
    width:30%;
    float:left;
  }
  section.contact .contact_me .right{
    float:left;
    width:65%;
    margin-left:5%;
  }
  section.contact .contact_me .left .box{
    border:1px solid #ccc;
    padding:18px;
    display:flex;
    align-items:center;
    margin-bottom:15px;
  }
  section.contact .contact_me .left .box .info_text p{
    font-weight: 400;
  }
  section.contact .contact_me .right{ 
    float:left;
    width:65%;
    margin-left:5%;
    margin-bottom:20px;
    border:1px solid #ccc;
    padding:18px;
  }
  section.contact .contact_me .right .form_group{
    margin-bottom:1.25rem;
  }
  section.contact .contact_me .right .form_group label{
    display:block;
    margin-bottom:0.85rem;
  }
  section.contact .contact_me .right .form_group input{
    padding:0.6rem;
    width:100%;
    outline:none;
    border:1px solid #ccc;
  }
  section.contact .contact_me .right .form_group input:focus{
    border:1px solid #12ff91;
  }
  section.contact .contact_me .right .form_group textarea{
    height:300px;
    width:100%;
    resize:none;
    border:1px solid #ccc;
  }
  section.contact .contact_me .right .form_group textarea:focus{
    outline:none;
    border:1px solid #12ff91;
  }
  section.contact .contact_me .right button{
    width:100%;
    padding:1rem;
    background-color:#48ed8f;
    border:none;
    color:rgb(19, 19, 19);
    font-weight: bold;
    font-size: 20px;
  }
  


/* media baneunghyeong */
@media screen and (max-width: 1100px) {
    main .container {
        width: 992px;
    }
    section .container {
        width: 600px;
    }
    section .about_me .left {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    section .about_me .right {
        width: 100%;
        padding: 0;
    }
    section .strength_wrap .strength_inner {
        width: 48%;
        margin-bottom: 1.5rem;
        margin-right: 0;
    }
    section .strength_wrap .strength_inner:nth-child(2n+1) {
        margin-right: 4%;
    }
    section .portfolio_me .portfolio_inner {
        width: 48%;
        margin-bottom: 1.5rem;
        margin-right: 0;
    }
    section .portfolio_me .portfolio_inner:nth-child(2n+1) {
        margin-right: 4%;
    }
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
}

@media screen and (max-width: 400px) {
    
}











/* 
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⡝⢿⣿⣿⣿⣿⡿⠛⠛⠃⠀⠋⠛⠛⢻⣿⡿⠿⢿⡟⠀⠈⣿⣿⠃⠀⠈⠁⠀⠁⠀⠀⠻⠁⠈⠉⠉⠀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⡀⠸⠟⠉⢉⣿⡦⠔⠒⠀⠀⡶⠒⠊⠛⠛⠓⢤⣀⡋⠠⠞⠛⣿⣦⡀⠀⠂⠀⠀⠀⠀⠠⡀⠀⢠⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠋⢋⡀⠐⠊⠉⠁⠀⠀⠀⠲⠒⠁⠀⠀⠀⠀⠀⢠⡏⢀⠼⠲⣤⣾⠛⢏⢻⡷⠖⡆⠀⠀⢰⠀⢀⣾⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⣿⡿⠿⣿⠟⢧⠶⠋⠙⠒⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠈⠉⠁⠀⠀⣄⠉⠳⣄⠗⠀⢀⣟⠀⠀⢸⡂⢸⣿⡧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⣿⣷⡄⠀⢲⡇⠀⠀⠀⠀⢀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢧⠀⠀⠀⠀⠘⢧⠀⠁⢀⠀⠒⠈⢳⡄⣠⠀⢸⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⣿⢃⡔⢲⠞⠁⠀⠀⠀⢠⡞⠀⠀⠀⠀⠀⠀⣴⠀⠀⠀⢰⠀⠀⠈⢧⠀⠀⠀⠀⠈⢇⠀⠙⣆⠀⠀⠀⢹⣿⡆⢸⣿⡗⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⡟⠋⢠⠏⠀⠀⠀⠀⠀⣸⠀⠀⠀⠀⠀⠀⢠⠏⠀⠀⠀⣾⡆⠀⠀⠘⣆⠀⢀⡀⠀⠘⣇⠀⠈⠺⡇⠀⠀⠻⡇⢸⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⡟⠀⠀⡞⢠⠇⠀⠀⠀⢀⡇⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⢠⠃⢳⠤⢤⣀⣹⣾⠟⠁⠀⠀⢸⣴⣄⡀⡇⠀⠀⠀⢻⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⠀⠀⢠⠇⢸⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⡏⠀⠀⠀⣾⠀⠸⡆⠈⢙⣿⡿⢶⣤⡀⠀⠈⡇⠙⣷⣿⢀⡇⠀⠘⣿⣿⡇⠀⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⡇⠀⠀⣾⠀⡇⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⢰⢻⠀⠀⢹⡴⠋⠀⢱⠀⠈⠀⠀⠀⢣⣤⣼⣿⣿⠁⢀⠀⢹⣿⡇⢠⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⠇⠀⢰⡟⢠⡇⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⣿⡆⠀⠀⠀⢳⡀⠀⠸⡄⠀⠀⠀⠀⢸⡟⠙⣿⠛⠚⢿⠁⢸⣿⡇⢈⣗⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⠀⠀⢸⡇⢸⡇⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⣸⡇⠀⠈⡟⡗⠲⠶⠀⠀⠳⡄⠀⡇⠀⠀⠀⠀⢸⡇⢸⢿⡄⢠⠟⠀⢸⣿⡇⢸⡷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⡀⠀⢸⣿⠀⡇⠀⠀⠀⠀⣿⡄⠀⠀⠀⠀⢸⢹⡇⠀⠀⡏⣇⠀⡀⠀⠀⠀⠙⣄⡇⠀⠀⢠⡄⣸⣷⢿⣼⣷⠏⠀⠀⢸⣿⡇⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⡇⠀⢸⣿⡀⠃⠀⠀⠀⠀⣿⢇⠀⠀⠀⠀⢸⢸⡇⠀⠸⡇⡿⢾⣿⣿⣷⣤⠀⠘⡇⠀⠀⢸⠃⣿⣷⠀⢿⣿⠀⠀⠀⢸⣿⡇⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣧⠀⢸⣿⣇⢰⠀⠀⠀⠀⢻⢸⡀⠀⠀⠀⢸⡘⡇⠀⠀⡇⡆⣾⣿⣿⣿⡟⣇⢀⡇⠀⠀⡞⢰⢿⣿⠀⢸⣿⡇⠀⠀⣿⣿⡇⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⡄⢸⣿⣿⡄⣆⠀⠀⠀⠘⣯⣇⠀⠀⠀⠀⡷⣇⠀⢀⡇⡇⠹⣏⣋⣭⠉⠀⢸⠀⠀⣰⢁⣧⠌⢿⠀⠸⢸⢧⠀⢸⣿⣿⡇⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⡈⣿⣿⣿⡜⠀⠀⠀⠀⠉⠙⠀⠀⠀⠀⠉⠉⠀⠀⠙⠃⠀⠀⠀⠀⠀⠀⡸⠀⢰⠏⡞⠁⠀⢸⣤⣸⠀⣿⡀⣿⣿⣿⡇⣼⡇⠀⠀⠀⡃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⣷⡹⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⢀⢏⣾⠥⠤⣠⣾⡟⢻⣠⡿⣿⣿⣿⣿⡇⣿⡇⠀⠀⠀⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⣿⣷⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣾⣿⣿⢁⣼⠏⡿⣿⣿⣿⣿⡇⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⣿⣿⣿⣿⣿⣯⣾⣯⡾⡇⣿⣿⣿⣿⡇⣿⡇⠀⠀⠀⡄⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⣄⠀⠀⠀⠀⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡏⢀⣷⣿⣿⣿⣿⡇⣿⡇⠀⠀⢠⣿⣄⠀⠀⠀⠀⠀⠀⠀⣧⠀⠀
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡤⠶⣫⠿⠋⠀⠀⠀⠉⠻⢧⣼⣿⢹⣿⡇⣾⣹⣿⣿⣿⣿⡇⣿⠁⠀⠀⢨⣿⣇⠀⠀⠀⠀⠀⠀⢀⣿⠀⠀
⠩⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠿⢿⣶⣤⣤⡤⣶⠚⠉⢡⣾⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠙⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⠀⠀⠀⢸⣿⣿⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀
⠒⠛⣶⣿⣿⣿⣿⣿⣿⣿⡿⠋⠀⠀⠀⠀⠀⢿⣿⠿⣅⣿⠖⢶⣟⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⠂⢸⣿⣿⣿⣿⣿⡇⣿⠀⠀⠀⣿⣿⣿⡆⠀⠀⠀⠀⠀⢸⣿⠀⠀
⠀⠈⡏⣉⢿⣿⣿⣿⣿⣿⠁⠀⠀⠀⠀⠀⡔⢉⣿⣇⢹⠁⠀⠈⠁⡇⠙⢦⠀⠀⣠⡤⠤⢤⣄⡴⢋⣾⣿⣿⠂⢸⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⣿⣿⣿⣧⠀⠀⠀⠀⠀⣸⣿⠀⠀
⠀⢄⠹⠀⢹⣿⣿⣿⣿⣿⣧⠀⠀⠀⢰⣭⣿⢛⣷⣿⣯⣤⣤⣄⣀⣙⣦⣈⡷⠋⠆⠀⠀⠀⠸⡿⠿⠿⠾⢿⣦⣾⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⣿⣿⣿⣿⡄⠀⠀⠀⠀⣿⣿⠀⠀
⠄⠀⠀⠀⢸⣿⣿⣿⠋⠉⠉⠀⠀⡖⠛⣿⣶⣿⣿⢟⡷⠚⣆⠘⠿⠡⠞⣹⢻⡞⠀⠀⠀⠀⠀⠙⢦⡤⠞⠉⠀⠉⢻⣿⣿⣿⣿⣿⣿⠀⠀⠀⣿⣿⣿⣿⣆⠀⠀⠀⠀⣿⣿⠀⠀
⠀⠀⠀⠀⢸⣿⣿⡇⠀⠀⠀⠀⠀⢳⠀⣿⡾⣹⡟⡞⠀⠀⠸⢦⡠⠤⣾⢧⡞⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⣿⣦⣤⣴⣿⣿⣿⣿⣿⣶⣦⣤⣴⣿⡿⠀⠀
⠀⠀⠀⠀⢸⣿⣿⣇⠀⠀⠀⠀⠀⢸⣦⡿⣹⣿⣼⠀⠀⠀⠀⠀⠀⣰⠇⣸⠀⠀⠀⠀⠀⠀⠀⠀⣸⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿⠙⠛⠛⠛⢿⣿⣿⣿⣿⣿⡿⠟⠛⠛⠛⠃⠀⠀
⠀⠀⠀⠀⢸⣿⣿⣿⡷⠆⠀⠀⣰⡟⡿⠙⣿⠟⢽⡄⠀⠀⢀⣀⣰⠏⢰⠇⠀⠀⠀⠀⠀⠀⠀⢀⣿⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⠂⠀⠀⠀⢸⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢸⣿⣿⣿⡄⠀⢠⡾⡏⠀⠀⠀⣻⠖⠀⠉⠛⠒⡿⠹⡿⢠⠇⠀⠀⣀⢤⡀⠀⠀⠀⡼⣟⣆⠀⢀⣀⣀⣰⣿⣿⣿⣿⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣖⠀⠀⠀⠀⠀⠀⠀
⡇⠀⠀⠀⠸⡟⣿⣿⣧⡴⠋⠙⣳⡀⣠⠞⣁⢤⡾⠳⣖⣿⡇⠀⣿⠻⡄⣠⠞⠁⠈⡇⠀⠀⣸⠁⣇⠈⠁⣿⣿⣿⣿⣿⣿⣿⣿⣤⣤⣤⣤⣼⣿⣿⣿⣿⣿⣿⣤⣄⣀⣀⣀⣀⣀
⣿⠀⠀⠀⢀⠋⠹⣿⠏⠀⠀⠀⣀⡛⠋⠉⢁⣸⡁⠀⣀⣠⠇⠀⠀⠀⠟⠁⠀⠀⢰⠃⠀⣰⣃⡄⢹⠀⠀⠀⠙⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿

= 16px
*/