
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(https://williameom.xyz/fonts/korail/KORAIL.ttf);
@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    text-decoration: none;
}

.inner {
    width: 1100px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .inner {
        width: 90%;

    }
}

/* Header */
header {
    background-color: #006660;
    height: 70px;
    color: #ffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}

header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}

.logo {
    /* src: url(https://williameom.xyz/fonts/korail/KORAIL.ttf); */
    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;
    line-height: 50px;
}

.menu-toggle {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

header .inner ul {
    display: flex;
}

header .inner ul > li {
    margin-left: 20px;
}

header .inner ul > li > a {
    color: #fff;
}

header .inner ul > li > a:hover {
    color: #0bf7ff;
}

@media (max-width: 768px) {
    header {
        height: 50px;
    }
    .logo {
        line-height: 50px;
        padding-left: 10px;
    }
    .menu-toggle {
        display: block;
        padding-right: 10px;
    }
    .nav-links {
        /* src: url(https://williameom.xyz/fonts/korail/KORAIL.ttf);*/
        font-family: "KORAIL", normal;
        /* font-weight: 400; */
        font-style: normal;
        /* line-height: 50px; */
        background-color: #1c1c1c;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 50px;
        transition: max-height 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }
    .nav-links.show {
        max-height: 300px;
    }
    header .inner ul {
        flex-direction: column;
        align-items: center;
    }
    .nav-links li {
        padding: 20px 0;
    }
}

/* about */
.about {
    height: 1000px;
    overflow-x: hidden;
}

.about #about_contain {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 132, 255);
}

.about_wrap {
    position: relative;
    top: 300px;
    text-align: center;
}

.img_wrap {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
}

.img_wrap img {
    width: 250px;
    height: 250px;
}

.about_imgany {
    -webkit-animation: about_img 2s infinite linear;
    -o-animation: about_img 2s infinite linear;
    -moz-animation: about_img 2s infinite linear;
    -ms-animation: about_img 2s infinite linear;
    animation: about_img 2s infinite linear;
}

/* 
-webkit- 크로뮴 기반 브라우저
-o-      오페라 브라우저
-moz-    Firefox
-ms-     IEEEEEEEEEEEEEEEEEEEEEEE
*/

@keyframes about_img {
    0% {
        top: 0;
    }
    50% {
        top: -25px;
    }
    100% {
        top: 0;
    }
}

.about_name {

    
    font-family: "KORAIL", normal;
    font-weight: 400;
    font-style: normal;
    line-height: 50px;

    color: #fff;
    font-size: 35px;
    margin: 15px 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.about_nameany {

    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;

    animation: about_name 2s 1 ease-in;
    -webkit-animation: about_name 2s 1 ease-in;
    -o-animation: about_name 2s 1 ease-in;
    -moz-animation: about_name 2s 1 ease-in;
    -ms-animation: about_name 2s 1 ease-in;
}

@keyframes about_name {
    0% {
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
        -moz-transform: translateX(-200px);
        -ms-transform: translateX(-200px);
        -o-transform: translateX(-200px);
    }
    100% {
        transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
    }
}

.about_job {
    color: #fff;
    margin-bottom: 40px;
    font-weight: 400;
    font-style: italic;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;

    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;

}

.about_jobany {
    animation: about_job 2s 1 ease-in;
    -webkit-animation: about_job 2s 1 ease-in;
    -moz-animation: about_job 2s 1 ease-in;
    -o-animation: about_job 2s 1 ease-in;
    -ms-animation: about_job 2s 1 ease-in;

    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;

}

@keyframes about_job {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -moz-transform: translateX(200px);
        -o-transform: translateX(200px);
        -ms-transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -ms-transform: translateX(0);
    }
}

.about_text {
    color: #fff;

    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;

}

@media(max-width: 768px) {
    .about {
        height: 800px;
    }
    .about_wrap {
        top: 200px;
    }
}

/* skills */
.skills_container {
    background-color: #3a8100;
}

.skills {
    /* height: 1000px; */
    padding-bottom: 140px;
    /* background-color: #666666; */
    width: 100%;
    max-width: 900px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
    
.skills .title {
    text-align: center;
    font-size: 45px;
    padding-top: 140px;

    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;

    /* font-family: 'DungGeunMo';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal; */
}

.skills>p {
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    padding-top: 10px;
    padding-bottom: 40px;

    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;

    /* font-family: 'DungGeunMo';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal; */
}

.skill {
    padding: 0 40px;

    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;
}

.skill_name {
    font-size: 25px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
    margin: 25px 0 5px 0;
}

.skill_bar {
    height: 35px;
    background-color: #c9c9c9;
}

.skill_per {
    height: 100%;
    color: #fff;
    font-weight: bold;
    position: relative;
    width: 100%;
    transition: width 2.5s, opacity 2.5s;
    opacity: 0;
}

.skill_per::before {
    content: attr(per);
    position: absolute;
    background-color: #222;
    border-radius: 4px;
    font-size: 20px;
    top: -50px;
    right: 0;
    padding: 8px 10px;
    transform: translateX(50%);
    transition: opacity 2.5s;
    opacity: 0;
}

.skill_per::after {
    content: "";
    position: absolute;
    background-color: #222;
    width: 10px;
    height: 10px;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    transition: opacity 2.5s;
    opacity: 0;
}

.skill_per.fillcolor {
    width: 100%;
    opacity: 1;
    animation: fillcolor 2s 1 forwards;
}

.skill_per.fillcolor::before,
.skill_per.fillcolor::after {
    opacity: 1;
}

@keyframes fillcolor {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .skill {
        padding: 0 40px;
    }
    .skills_title {
        padding-top: 75px;
    }
}

/* portfolio */
.portfolio {
    /* height: 1000px; */
    background-color: #39c5bb;
}

.portfolio .title {
    text-align: center;
    font-size: 45px;
    padding-top: 140px;

    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;

    /* font-family: 'DungGeunMo';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;  天国 */  
}

.portfolio>p {
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    padding-top: 10px;
    padding-bottom: 40px;

    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;

    /* font-family: 'DungGeunMo';
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal; */
}

.portfolio .port_wrap {
    width: 100%;
    overflow: hidden;
}

.portfolio .port_box_contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio .port_box_contain .port_box {
    margin: 15px;
    /* box-shadow: 3px 3px 3px 3px rgb(189, 189, 189); */
    display: none;
    width: 400px;
    height: 600px;
    flex-wrap: wrap;
}

.portfolio .port_box_contain .port_box img {
    width: 100%;
}

.portfolio .port_box_contain .port_box:last-child {
    margin-bottom: 150px;
}

.portfolio .port_button {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    font-weight: bolder;
    cursor: pointer;

    margin-top: 50px;
    padding-bottom: 180px;
}

.portfolio .port_button::after {
    content: "もっと見る";
    position: absolute;
    width: 300px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 5px;
    left: 50%;
    top: 0;


    transform: translateX(-50%);

}

/* contact */
.contact {
    height: 600px;
    background-color: #123456;

    color:#39c5bb;
}

.contact .title {
    text-align: center;
    font-size: 45px;
    padding-top: 140px;

    font-family: "KORAIL", normal;
    /* font-weight: 400; */
    font-style: normal;

    /* font-family: 'DungGeunMo'; */
    /* font-optical-sizing: auto; */
    /* font-weight: normal; */
    /* font-style: normal;  天国 */
}

.contact>p {
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.contact .contact_wrap {
    text-align: center;
}

.contact img {
    width: 200px;
}

/* @media(max-width: 768px) { 
    .contact {
        height: 800px;
    }
}*/

@media(max-width:768px){
    .contact{
        height: 850px;
    }
    .contact .title{
        padding-top: 75px;
    }
}
@media(max-width:360px){
    .contact{
        height: 1450px;
    }
    .contact .title{
        padding-top: 75px;
    }
}
@media(max-width:400px){
    .contact{
        height: 1450px;
    }
    .contact .title{
        padding-top: 75px;
    }
}