* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #006660; */
}
body {
    font-family: 'Arial' sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

.login_container {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login_title {
    font-size: 36px;
    color: #006660;
    margin-bottom: 30px;
    font-weight: bold;
}

.input_group {
    margin-bottom: 16px;
}

.input_group input {
    width: 100%;
    padding: 12px 15px;
    /* color: white; */
    border-radius: 4px;
    border: 1px solid #006660;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* FIREFOX ISSUEEEEEEEEE!!!!!!!!!! */
    background-color: #fafafa;
}

.login_button {
    width: 100%;
    padding: 14px 0;
    background-color: #006660;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 1000;
    cursor: pointer;
    margin-top: 20px;
}

.login_button:hover {
    background-color: #000000;
}

.extra_options {
    margin-top: 20px;
    font-size: 10px;
    color: #666;
}

.extra_options a {
    color: #666;
    text-decoration: none;
    margin: 0 5px;
}

.extra_options a:hover {
    text-decoration: underline;
}